#mini-apty-overlay {
  position: fixed;
  transition:
    top 0.3s ease,
    left 0.3s ease;
  width: 320px;
  max-width: 420px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0,0,0,.2);
  z-index: 999999;
  font-family: sans-serif;
  overflow: hidden;
}


#mini-apty-description {
  max-height: 180px;
  overflow-y: auto;
}

.mini-apty-header{
  background: #230b44;
  color: #FF591A;
  padding:12px;
  font-size:32px;
  font-weight: 900;
  font-weight:bold;
}

.mini-apty-body{
  padding:16px;
}

.mini-apty-footer{
  display:flex;
  justify-content:space-between;

  padding:12px;

  border-top:1px solid #eee;
}

.mini-apty-footer button{
  padding:8px 14px;

  cursor:pointer;
}